<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="imges/favicon.ico">

    <title>뚝딱 관리자 페이지</title>

    <link href="../stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/css/album.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand title" href="/">DDuk DDak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/adminUser">회원 관리</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">뚝딱 관리자 페이지</h1>
                <p class="lead text-muted">뚝딱 관리자는 여기서 회원, 재료, 음식을 관리할 수 있습니다.</p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container col-md-2">
                <a href="/admin/adminUser">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWyXxqU010RDJ8R57swQlPqIwQd0QTKKhjSa88xV36Fka3AZOdsw" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">회원 관리 페이지</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <footer class="py-5 bg-dark">
        <div class="container">X
            <p class="m-0 text-left text-white">Copyright &copy; DDuk DDak food
                <br>뚝딱팀 경 현, 김재익
                <br>2018 모바일웹 프로젝트</p>
        </div>
    </footer>
    <script src="../stylesheets/js/jquery-3.3.1.min.js"></script>
    <script src="../stylesheets/js/vendor/popper.min.js"></script>
    <script src="../stylesheets/js/bootstrap.min.js"></script>
    <script src="../stylesheets/js/vendor/holder.min.js"></script>
</body>

</html>
