<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <link rel="icon" href="../../images/ddukddak.ico">
    
	<title>DDuk DDak 관리자페이지</title>
    
	<link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
	<!-- Bootstrap core CSS -->
    <link href="../stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/css/adminsheet.css" rel="stylesheet">
	
	
</head>
<body>
	<section class="container login-form">
		<section>
			<form method="post" action="" role="login">
			    <div class="title">뚝딱 관리자 로그인 페이지</div>
			
				<div class="form-group">
					<input type="email" name="email" required class="form-control" placeholder="관리자용 ID를 입력하시오." />
					<span class="glyphicon glyphicon-user"></span>
				</div>
				
				<div class="form-group">
					<input type="password" name="password" required class="form-control" placeholder="비밀번호를 입력하시요." />
					<span class="glyphicon glyphicon-lock"></span>
				</div>
				
				<button type="submit" name="go" class="btn btn-primary btn-block">로그인</button>
				
				<a href="#">비밀번호 초기화</a> or <a href="#">관리자용 계정 만들기</a> 
			</form>
		</section>
	</section>
	
	<script src="../stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="../stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>