<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../images/ddukddak.ico">

    <title>DDuk DDak 관리자페이지</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
    <link href="../stylesheets/css/adminsheet.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">문의</h4>
                        <p class="text-white">뚝딱 페이지의 관리자 페이지 입니다.</p>
                        <p class="text-white">관리자 페이지에 대해 문의하실 것이 있다면 옆의 연락처로 문의해주십시오.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">연락처</h4>
                        <p class="text-white">전화번호 : 02-123-7777</p>
                        <p class="text-white">이메일 : ddukddak@naver.com</p>
                        <input type="button" name="logInOut" value="로그인">
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">뚝딱 관리자 페이지</h1>
                <p class="lead text-muted">뚝딱 관리자는 여기서 회원, 재료, 음식을 관리할 수 있습니다.</p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <a href="#">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWyXxqU010RDJ8R57swQlPqIwQd0QTKKhjSa88xV36Fka3AZOdsw" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">회원 관리 페이지</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTyEe-4eOOmOc2IoOn6H1Ok78XqNhRn_Gh15D936TrOnAQ5gMe" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">재료 관리 페이지</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="#">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd5iNpte-zDWsQc090C4gw3tWJEL-LA0jMaxm8tnvbcaMGEnVw" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">요리 관리 페이지</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../stylesheets/js/jquery-3.3.1.min.js"></script>
    <script src="../stylesheets/js/vendor/popper.min.js"></script>
    <script src="../stylesheets/js/bootstrap.min.js"></script>
    <script src="../stylesheets/js/vendor/holder.min.js"></script>
</body>

</html>
