<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../images/ddukddak.ico">
    
    <title>DDuk DDak</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
<!--    <link href="../public/stylesheets/css/mysheet.css" rel="stylesheet">-->
     <link href="../stylesheets/css/ingred.css" rel="stylesheet">



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-danger navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand title" href="/">DDuk DDak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">홈
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ingredient">이달의재료</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recommend">추천요리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">내음식맛봐</a>
                    </li>
                    <% if(!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">회원가입</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link">
                        &nbsp; <%= user.displayName %>님</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mypage">마이페이지</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/logout">로그아웃</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">이달의 재료
                    <small>(제철 음식)</small>
                </h1>

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="http://post.phinf.naver.net/MjAxNjExMDNfMjg0/MDAxNDc4MTQwNjQ1MjY2.9QZjkWjVi3oJSKaOScyKgYGw94tUwMgevHE3B0w4aC4g.K-BIHuUKylUF21Rkz3WVIMQpPBolh_Bp2psqE4bP0HQg.JPEG/image_8822894931478140694058.jpg?type=w1200" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">배추</h2>
                        <p class="card-text">배추는 잎과 줄기뿐 아니라 뿌리에도 비타민이 풍부하게 함유되어 있어 어느 하나 버릴 것이 없는 채소다.또, 식이 섬유소가 풍부하여 장운동을 촉진시키고 정장작용에 도움을 준다.</p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2017 by
                        <a href="#">Start Bootstrap</a>
                    </div>
                </div>

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="http://static.hubzum.zumst.com/hubzum/2018/01/04/12/a58a8355f9504c5f921d3219108b76a3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">꼬막</h2>
                        <p class="card-text">겨울이 되면 시장에 나오기 시작하는 꼬막은 겨울 입맛을 깨우는 별미로 제격이다. 아미노산이 풍부한 꼬막으로 입맛을 회복하는데 도움이 되며, 양질의 단백질과 비타민, 필수아미노산이 풍부해 피로회복은 물론, 어린이 성장발육에도 좋다. 뿐만 아니라 꼬막은 철분과 각종 무기질이 다량 함유되어 있어 빈혈 개선에 도움을 준다.</p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2017 by
                        <a href="#">Start Bootstrap</a>
                    </div>
                </div>

                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="https://t1.daumcdn.net/cfile/tistory/2123604555F8256E0D" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">배</h2>
                        <p class="card-text">기관지에 좋다고 널리 알려진 배는 감기 예방에 효과적일 뿐 아니라 펙틴을 다량 함유하고 있어 혈중 콜레스테롤 수치를 낮추고, 수분이 많아 변비에도 좋다.</p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2017 by
                        <a href="#">Start Bootstrap</a>
                    </div>
                </div>

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-danger">
        <div class="container">
            <p class="m-0 text-left text-white">Copyright &copy; DDuk DDak food
                <br>뚝딱팀 경 현, 김재익
                <br>2018 모바일웹 프로젝트</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="../stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="../stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
