<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../images/ddukddak.ico">
    
    <title>DDuk DDak</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../stylesheets/css/mysheet.css" rel="stylesheet">
    


</head>

<body id="LoginForm">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-danger navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand title" href="/">DDuk DDak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">홈
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ingredient">이달의재료</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recommend">추천요리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board">내음식맛봐</a>
                    </li>
                    <% if(!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">회원가입</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link">
                        &nbsp; <%= user.displayName %>님</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mypage">마이페이지</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/logout">로그아웃</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <caption>
            <h2>내음식맛봐 게시판</h2>
        </caption>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                </tr>
                <tr>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                </tr>
                <tr>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                </tr>
                <tr>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                </tr>
                <tr>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                </tr>
                <tr>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <br>
        <div class="d-flex float-right">
            <input type="button" class="btn btn-dark" value="글 쓰기" onclick="location.href='/board/writing'"/>
        </div>
        <br>
        <ul class="pagination justify-content-center" style="margin:20px 0">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div> <br><br>


    <!-- Footer -->
    <footer class="py-5 bg-danger">
        <div class="container">
            <p class="m-0 text-left text-white">Copyright &copy; DDuk DDak food
                <br>뚝딱팀 경 현, 김재익
                <br>2018 모바일웹 프로젝트</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="../stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="../stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
