<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../images/ddukddak.ico">

    <title>DDuk DDak</title>

    <!-- Bootstrap core CSS -->
    <link href="../stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--    <link href="../public/stylesheets/css/mysheet.css" rel="stylesheet">-->
    <link href="../stylesheets/css/ingred.css" rel="stylesheet">



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-danger navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand title" href="/">DDuk DDak</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">홈
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ingredient">이달의재료</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recommend">추천요리</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board">내음식맛봐</a>
                    </li>
                    <% if(!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/register">회원가입</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <%= user.displayName %>님</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mypage">마이페이지</a></li>
                    <li class="nav-item"><a class="nav-link" href="/auth/logout">로그아웃</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>


    <br>

    <div class="container">
        <caption>
            <h2>글쓰기</h2>
        </caption>
        <br>
        <div class="form-group">
            <form action='/board/upload/<%= user.id %>' method="post" enctype="multipart/form-data">
                <label for="exampleInputPassword1">이미지 파일 : </label>
                <input type='file' name="upload" class="loadFile btn " name='upload' />
                <input type="submit" class="btn btn-dark" value="이미지 등록" onclick="" />
            </form>
            <form action='/board/upload/<%= user.id %>/dlt' method="post" enctype="multipart/form-data">
                <input type="submit" class="btn btn-dark" value="이미지 삭제" onclick="" />
            </form>
            <br>
            <img src="../<%= user.tmp %>" width="250" height="250" />
        </div>
        <form method="post" action="/board/writing">
            <div class="form-group">
                <label for="exampleInputEmail1">글 제목</label>
                <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="title">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">글 내용</label>
                <textarea class="form-control" name="content" rows="12" id="comment" placeholder="contents"></textarea>
            </div>

            <hr>
            <div class="d-flex justify-content-between">
                <input type="button" class="btn btn-dark" value="목록으로" onclick="location.href='/board'" />
                <input type="submit" class="btn btn-dark" value="글 등록" onclick="" />
            </div>
        </form>
    </div>

    <br><br>

    <!-- Footer -->
    <footer class="py-5 bg-danger">
        <div class="container">
            <p class="m-0 text-left text-white">Copyright &copy; DDuk DDak food
                <br>뚝딱팀 경 현, 김재익
                <br>2018 모바일웹 프로젝트</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

    <script src="../stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="../stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
